<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>WeekEnd</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{{!-- Link vendor styles from CDN --}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		{{!-- Link custom styles --}}
		<link href="/build/weekend.bundle.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

	</head>
	<body>
		<header class="container-fluid">
			{{> mynavbar}}
		</header>
		<main class="main">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</main>

		<footer class="container-fluid">
			<div class="container">
				<div class="pull-right">
					{{> social}}
					{{!-- <a href="/keystone/" target="_blank">Админка</a> --}}
				</div>
				<div class="we-brand invisible"><a href="/" class="we-section-nav" data-sectionindex="1">WeekEnd</a> <small>Кавер группа</small></div>
			</div>
		</footer>

		{{{isAdminEditorJS user}}}



		{{!-- LOAD Vendor JS libs --}}
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script>window.jQuery || document.write('<script src="/vendor/jQuery/jquery-2.1.4.min.js"><\/script>')</script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script>if(typeof($.fn.modal) === 'undefined') {document.write('<script src="/vendor/bootstrap/js/bootstrap.min.js"><\/script>')}</script>

		<script src="/build/weekend.bundle.js" charset="utf-8"></script>

		{{!-- Bootstrap css fallback --}}
		<script>
	    $(document).ready(function() {
	    var bodyColor = $('body').css('color');
	    if(bodyColor != 'rgb(51, 51, 51)') {
	    $("head").prepend('<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">');}});
  	</script>
	</body>
</html>
