<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>WeekEnd</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{{!-- Link vendor styles from CDN --}}

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

		{{!-- Link custom styles --}}
		<link href="/build/weekend.bundle.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}


		{{!-- LOAD Vendor JS libs --}}
		{{!--
			//- jQuery 1.11.1 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.3 (also bundled) for better performance.
		--}}
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		{{!-- <script src="/js/jquery/jquery-2.1.3.min.js"></script> --}}


		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

		<script src="/build/weekend.bundle.js" charset="utf-8"></script>
	</head>
	<body>
		<header class="container-fluid">
			{{> mynavbar}}
		</header>
		<main class="main">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</main>

		<footer class="container-fluid">
			<div class="container">
				<div class="pull-right">
					{{> social}}
					{{!-- <a href="/keystone/" target="_blank">Админка</a> --}}
				</div>
				<div class="we-brand invisible"><a href="/" class="we-section-nav" data-sectionindex="1">WeekEnd</a> <small>Кавер группа</small></div>
			</div>
		</footer>

		{{{isAdminEditorJS user}}}
	</body>
</html>
