<div class="container">
	<h1>Наши фотки</h1>
</div>
<div class="container">
	<!-- if galleries -->
	{{#if galleries}}
		{{#each galleries}}
		<h2>{{name}}
			{{!-- TODO localize date --}}
			<div class="pull-right text-muted">{{publishedDate}}</div>
		</h2>
		<div class="row gallery-images">
				{{!-- {{#if heroImage}}
				<div class="col-sm-4 col-md-4 gallery-image">
					<img src="{{cloudinaryUrl heroImage width='680' height='680'}}" class="img-rounded">
				</div>
				{{/if}} --}}
				<div class="col-sm-8 col-sm-offset-2">
					<ul class="list-unstyled">
						{{#each images}}
						<li class="gallery-image">
							<img src="{{cloudinaryUrl}}" class="img-rounded">
						</li>
						{{/each}}
					</ul>
				</div>
		</div>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">Здесь скоро появятся наши фотоальбомы.</h3>
	{{/if}}
</div>
