<div class="container">
  <h1>Наш плейлист</h1>
  {{#if songs}}
  {{!-- TODO: embed player for songs --}}
  <div class="col-sm-6 col-md-4">
    {{> jplayer}}
  </div>
  <div class="col-sm-6 col-md-offset-2">
    <ul class="list-unstyled">
      {{# each songs}}
        <li><a href="#" class="we-playlist-play">
          <span class="glyphicon glyphicon-play"></span> {{singer}} - {{name~}}
          {{~# if album}}
            [{{album}}]
          {{~/if~}}
          {{~# if year~}}
            , {{year}}
          {{~/if~}}
        </a></li>
      {{/each}}
    </ul>
  </div>
  {{else}}
    <p>
      ... ждет появления первых песен ...
    </p>
  {{/if}}
</div>
<script src="/js/playlist.js" charset="utf-8"></script>
