<div class="container">
  <h1>Наш плейлист</h1>
  {{#if songs}}
    <ul>
      {{# each songs}}
        <li>{{singer}} - {{name}}{{# if album}}[{{album}}]{{/if}}{{# if year}}, {{year}}{{/if}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>
      ... ждет появления первых песен ...
    </p>
  {{/if}}
</div>
