<div class="container">
  <h1>Наш плейлист</h1>
  {{#if songs}}
    {{!-- @grop Player --}}

    {{!-- jPlayer styles --}}
    {{headCss "/styles/jplayer/weekend_player.css"}}

    {{!-- jPlayer libs --}}
    {{headScript "/js/jplayer/jquery.jplayer.min.js"}}

    <div class="col-sm-6 col-md-4">
      {{> jplayer}}
    </div>
    {{!-- @end Player --}}

    {{!-- @group Playlist --}}
    <div class="col-sm-6 col-md-offset-2">
      <ul class="list-unstyled we-playlist-container">
        {{# each songs}}
          <li class="we-playlist-item">
            {{#if file.filename}}
              <a href="/audio/{{~file.filename~}}" class="we-play-song">
              <span class="glyphicon glyphicon-play we-play-icon"></span><span class="we-song-title"> {{singer}} - {{name~}}</span>
              {{~# if album}}
                [{{album}}]
              {{~/if~}}
              {{~# if year~}}
                , {{year}}
              {{~/if~}}
              </a>
            {{else}}
              <span class="glyphicon glyphicon-volume-off text-danger"></span><span class="we-song-title"> {{singer}} - {{name~}}</span>
              {{~# if album}}
                [{{album}}]
              {{~/if~}}
              {{~# if year~}}
                , {{year}}
              {{~/if~}}
            {{/if}}

        </li>
        {{/each}}
      </ul>
    </div>
    {{!-- @end Playlist --}}
    <script src="/js/player.js" charset="utf-8"></script>
  {{else}}
    <p>
      ... ждет появления первых песен ...
    </p>
  {{/if}}
</div>
