<h1 class="sr-only">WeekEnd в лицах</h1>
<div class="we-musicians-container">
  {{#each musicians}}
    <div class="item">
      <div class="item-overlay">
        <a href="{{vkUrl}}" target="_blank" class="musician">{{name}}</a>
      </div>
      <img src="{{imgUrl url}}" alt="{{role}} - {{Name}}" />
    </div>
  {{/each}}
</div>
